.main-container {
  color: #ff0000;
  background-color: darken(#3E4EB8, 10%);

  img {
    max-width: 100vw;
  }
}

.header {
  height: 60px;
  width: 100vw;
  background-color: #3E4EB8;
  color: #FFF;
}
